<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA_Compatible" content="IE=edge">
        <meta name = "viewport" content="width=device-width, inital-scale=1.0">
        <title>Bus information</title>
        <body>
            <div class = "main-contender">
                <h3><%= title %></h3><hr>
                <p>버스 아이디를 입력하세요.</p>
                <form action="/location" method="post">
                    <input placeholder="버스ID" name= "number">
                    <button>입력</button>
                </form>
            </div> 
        </body>
    </head> 
</html>